@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--very-light-grayish-blue);
  color: var(--dark-grayish-blue);
  height: 100vh;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

@media (min-width: 1024px) {
  .container {
    padding: 0;
  }
}

.header {
  padding: 4rem 3rem;
  max-width: 300px;
  margin: 0 auto;
}

.header__title {
  margin-bottom: 4rem;
  opacity: 0.8;
}

.toggle__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-grayish-blue);
}

.toggle {
  position: relative;
  width: 50px;
  height: 25px;
  background: var(--primary-color);
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.toggle:checked {
  background: var(--primary-color);
}

.toggle::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 4px;
  top: 2.5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.toggle:checked::before {
  left: 25px;
}

/* End of Header */
/* Plans Article */
.plans__container {
  display: grid;
  grid-gap: 2rem;
}

@media (min-width: 1024px) {
  .plans__container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
  }
}

.plans {
  padding: 5rem;
  border-radius: 1rem;
  min-width: 150px;
}

.plans__title {
  font-size: 1.8rem;
}

.plans__price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.plans__price-dollar {
  font-size: 3rem;
  margin-right: 0.5rem;
}

.plans__price-amount {
  font-size: 7rem;
}

.plans__white {
  background-color: #ffffff;
  color: var(--dark-grayish-blue);
}

.plans__accent {
  background: var(--primary-color);
  color: #ffffff;
}

.plans__info p {
  margin: 1.5rem 0;
}

/* Button Link */
.btn {
  display: block;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  outline: none;
}

.btn__white {
  background-color: #ffffff;
}

.btn__accent {
  background: var(--primary-color);
  color: #ffffff;
}
