@import "variable";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  // --clr-primary: hsl(240, 78%, 98%);
  --clr-primary: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  --clr-neutral-100: hsl(240, 78%, 98%);
  --clr-neutral-200: hsl(234, 14%, 74%);
  --clr-neutral-300: hsl(233, 13%, 49%);
  --clr-neutral-400: hsl(232, 13%, 33%);

  --ff-mont: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-mont);
  font-size: 1.5rem;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/* Utility Class */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;

  @media #{$brk-point-1024} {
    padding: 0;
  }
}

.text-center {
  text-align: center;
}

// /* Header */
.header {
  padding: 4rem 3rem;
  max-width: 300px;
  margin: 0 auto;

  &__title {
    margin-bottom: 4rem;
    opacity: 0.8;
  }
}

.toggle__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-neutral-200);
}
.toggle {
  position: relative;
  width: 50px;
  height: 25px;
  background: var(--clr-primary);
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:checked {
    background: var(--clr-primary);
  }

  &::before {
    z-index: 2;
    position: absolute;
    content: "";
    left: 4px;
    top: 2.5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }

  &:checked::before {
    left: 25px;
  }
}

/* End of Header */

/* Plans Article */
.plans__container {
  display: grid;
  grid-gap: 2rem;

  @media #{$brk-point-1024} {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
  }
}
.plans {
  padding: 5rem;
  border-radius: 1rem;
  min-width: 150px;

  &__title {
    font-size: 1.8rem;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

    &-dollar {
      font-size: 3rem;
      margin-right: 0.5rem;
    }

    &-amount {
      font-size: 7rem;
    }
  }

  &__white {
    background-color: #ffffff;
    color: var(--clr-neutral-400);
  }
  &__accent {
    background: var(--clr-primary);
    color: #ffffff;
  }

  &__info {
    p {
      margin: 1.5rem 0;
    }
  }
}

/* Button Link */
.btn {
  display: block;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  outline: none;
}

.btn__white {
  background-color: #ffffff;
}

.btn__accent {
  background: var(--clr-primary);
  color: #ffffff;
}

.footer {
  margin-top: auto;
  padding-bottom: 2rem;
}
